@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles List</h2>
<a asp-area="Admin" asp-controller="Roles" asp-action="Create">Create role new!</a>
<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
