@model WebApplication7.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h4>Chỉnh sửa danh mục</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" accept=".jpg, .jpeg, .png" onchange="previewImage(event)" />
                <input asp-for="ImagePath" value="@Model.ImagePath" style="display: none"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                <img id="imagePreview" src=@Url.Content(Model.ImagePath) alt="Preview" style=" max-width: 100px; max-height: 100px;" />

            </div>
        <div class="form-group">
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Lưu
    </button>
        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">
        <i class="fa fa-arrow-left"></i>
        Trở lại
    </a>
</div>
<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById('imagePreview');
            imgElement.src = reader.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
