<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang bán hàng trực tuyến của HD store </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Userdata/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Userdata/css/style1.css" type="text/css">
    @* thông báo *@
    <script src="~/node_modules/notyf/notyf.min.js"></script>


</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    @await Html.PartialAsync("_Header")
    @RenderBody()
    <!-- Footer Section Begin -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/Userdata/js/jquery-3.3.1.min.js"></script>
    <script src="~/Userdata/js/bootstrap.min.js"></script>
    <script src="~/Userdata/js/jquery.nice-select.min.js"></script>
    <script src="~/Userdata/js/jquery-ui.min.js"></script>
    <script src="~/Userdata/js/jquery.slicknav.js"></script>
    <script src="~/Userdata/js/mixitup.min.js"></script>
    <script src="~/Userdata/js/owl.carousel.min.js"></script>
    <script src="~/Userdata/js/main.js"></script>
    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>