@model IEnumerable<WebApplication7.Models.Size>

@{
    ViewData["Title"] = "Index";
}
<style>

    .icon-red {
        color: red; /* Thay đổi màu sắc thành màu đỏ */
    }
    .icon-green{
        color: green;
    }
</style>
<h1>Index</h1>
<p>
    <a asp-action="Create"><i class="fas fa-plus icon-green"></i> Tạo mới size</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SizeName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.SizeId">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.SizeId">
                        <i class="fas fa-trash-alt icon-red"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

