    <!-- Hero Section Begin -->
@model WebApplication7.ViewModel.HoTro
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tât cả thể loại</span>
                    </div>
                    <ul>
                        @await Component.InvokeAsync("TheLoai")
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả sản phẩm
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn muốn tìm gì?">
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 68.688.888</h5>
                            <span>hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/Userdata/img/breadcrumb1.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Liên hệ chúng tôi</h2>
                    <div class="breadcrumb__option">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <span>Liên hệ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Phone</h4>
                    <p>+01-3-8888-6868</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Address</h4>
                    <p>60-49 Road 11378 New York</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Open time</h4>
                    <p>10:00 am to 23:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>hello@colorlib.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.162228609594!2d105.73593738860906!3d21.053284178487992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2sHanoi%20University%20of%20Industry!5e1!3m2!1sen!2s!4v1713460368751!5m2!1sen!2s" 
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>Hà Nội</h4>
            <ul>
                <li>Phone: +12-345-6789</li>
                <li>Add: 36 Phố Nhổn. Bắc Từ Liêm, HN</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->
<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Thông tin hỗ trợ</h2>
                </div>
            </div>
        </div>
        <form asp-controller="LienHe" asp-action="SubmitSupport" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6">

                    <span asp-validation-for="HoTen" class="text-danger"></span>
                    <input type="text" asp-for="HoTen" placeholder="Họ và tên">
                </div>
                <div class="col-lg-6 col-md-6">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input type="text" asp-for="Email" placeholder="Email của bạn">
                </div>
                <div class="col-lg-12 text-center">

                    <span asp-validation-for="NoiDung" class="text-danger"></span>
                    <textarea asp-for="NoiDung" placeholder="Your message"></textarea>

                    <button type="submit" name="" class="site-btn">Gửi yêu cầu hỗ trợ</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->