@using Microsoft.AspNetCore.Identity
@using WebApplication7.Models

@inject SignInManager<UserIdentitycs> SignInManager
@inject UserManager<UserIdentitycs> UserManager
<div class="header">
    <div class="logo logo-dark bg-gray text-center img-fluid">
        <a class="align-items-center" >
            <img class="w-auto rounded justify-content-center" src="https://img.icons8.com/metro/100/administrator-male.png" alt="administrator-male" width="80" height="60" />
        </a>
    </div>
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a href="javascript:void(0);">
                    <i class="anticon"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a href="javascript:void(0);">
                    <i class="anticon"></i>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
                <li class="dropdown dropdown-animated scale-left">
                    <div class="pointer" data-toggle="dropdown">
                        <div class="avatar avatar-image  m-h-10 m-r-15">
                            <img src="~/Adminassets/images/avatars/adminmg.png" alt="">
                        </div>
                    </div>

                <div class="p-b-15 p-t-20 dropdown-menu pop-profile">
@*                     <div class="d-flex align-items-center justify-content-between">
                        <div class="header__top__right__language">
                            <a style="color:black;" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user"></i> Hello @UserManager.GetUserName(User)!</a>
                        </div>
                    </div> *@
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0"><i class="fa fa-sign-out"></i> Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
                </li>
           


        </ul>
    </div>
</div>